/* Cursor */

.cursor {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    overflow: hidden;
}
.text {
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.03rem;
}
