@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
  --darkBlue: #020209;
  --blue: #1e293b;
  --lightblue: #455e87;
  --white: #eaeaea;
  --lightgray: #6d7787;
  --font-header: 'Bebas Neue', cursive;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--fs-base);
  color: var(--white);
  background: var(--darkBlue);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
